body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    width:100vw;
    height:100vh;
    background-color: gray;
}
.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height:350px;
    padding:10px;
    background-color: white;
}
.list {
    margin-top: 20px;
    height:220px;
}
.list_hideScroll {
    position: relative;
    width:280px;
    height:100%;
    overflow: hidden;
}
.list_scrollBox {
    position: relative;
    width: 295px;
    height: 100%;
    overflow-y: scroll;
}
.list_ul{
    padding: 0;
}
.task{
    margin: 15px 0 0 0;
    padding: 5px 10px;
    width: 250px;
    list-style-type: none;
    border-bottom: 1px solid gray;
}
.task_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox:checked + .label{
    text-decoration: line-through;
}